{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}

    <h1 class="display-4 mt-3 text-center text-success mb-3">Registrar Proveedor</h1>

    <form method="POST" class="p-3 w-50 mx-auto" enctype="multipart/form-data">
        {% csrf_token %}
        
        <section class="mb-3">
            <label for="id_nombre" class="form-label">Ingrese su nombre:</label>
            <input type="text" name="nombre" class="form-control" required id="id_nombre">
        </section>
  
        <section class="mb-3">
            <label for="id_apellido" class="form-label">Ingrese su apellido:</label>
            <input type="text" name="apellido" maxlength="100" class="form-control" required id="id_apellido">   
        </section>
  
        <section class="mb-3">
            <label for="id_dni" class="form-label">DNI:</label>
            <input type="text" name="dni" class="form-control" required id="id_dni">            
        </section>

        <input type="submit" value="Guardar datos" class="btn btn-success">
    </form>
    
{% endblock %}

