{% extends 'base.html' %}

{% load static %}

{% block title %}
Productos
{% endblock %}

{% block content %}

    <h1 class="text-center display-4 text-success mt-3">Listado de Proveedores</h1>

    <section class="p-3">
        <table class="table mt-3">
            <thead class="text-center table-dark">
                <tr>
                    <td>ID</td>
                    <td>Nombre y Apellido</td>
                    <td>DNI</td>                    
                </tr>
            </thead>
            <tbody class="text-center">
                {% for p in proveedores %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.nombre}} {{p.apellido}}</td>
                        <td>{{p.dni}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}